[submodule "lib/sml-typed-abts"]
	path = lib/sml-typed-abts
	url = https://github.com/JonPRL/sml-typed-abts.git
[submodule "lib/cmlib"]
	path = lib/cmlib
	url = https://github.com/standardml/cmlib.git
[submodule "lib/sml-telescopes"]
	path = lib/sml-telescopes
	url = https://github.com/jonsterling/sml-telescopes.git
[submodule "lib/sml-dependent-lcf"]
	path = lib/sml-dependent-lcf
	url = https://github.com/JonPRL/sml-dependent-lcf.git
[submodule "lib/sml-cats"]
	path = lib/sml-cats
	url = https://github.com/RedPRL/sml-cats.git
[submodule "lib/sml-final-pretty-printer"]
	path = lib/sml-final-pretty-printer
	url = https://github.com/RedPRL/sml-final-pretty-printer
