[submodule "lib/sml-typed-abts"]
	path = lib/sml-typed-abts
	url = https://github.com/JonPRL/sml-typed-abts.git
[submodule "lib/cmlib"]
	path = lib/cmlib
	url = https://github.com/standardml/cmlib.git
[submodule "lib/sml-telescopes"]
	path = lib/sml-telescopes
	url = https://github.com/jonsterling/sml-telescopes.git
[submodule "doc/notation"]
	path = doc/notation
	url = https://github.com/jonsterling/latex-common-notation.git
[submodule "lib/sml-dependent-lcf"]
	path = lib/sml-dependent-lcf
	url = https://github.com/JonPRL/sml-dependent-lcf.git
[submodule "lib/sml-json"]
	path = lib/sml-json
        url = https://github.com/ak3n/sml-json.git
[submodule "lib/sml-unparse"]
	path = lib/sml-unparse
	url = https://github.com/RedPRL/sml-unparse.git
[submodule "lib/sml-json"]
	path = lib/sml-json
	url = https://github.com/RedPRL/sml-json.git
[submodule "lib/sml-parcom"]
	path = lib/sml-parcom
	url = https://github.com/RedPRL/sml-parcom.git
