language: generic
env:
  - COMPILER=smlnj PACKAGES="smlnj ml-yacc ml-ulex moreutils libsmlnj-smlnj"
  - COMPILER=mlton PACKAGES="mlton moreutils"
  - COMPILER=sphinx PACKAGES="python-pip"
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y --force-yes ${PACKAGES}
install:
  - git submodule init
  - git submodule update --init --recursive
script:
  - ./script/test-${COMPILER}.sh

notifications:
  email: false
